<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <label><img src="../public/images/logo-mercado-liebre.svg" width="600" height="200"></label>

    <nav>para poner la barra de busqueda</nav>


    <h1>Comprá en cuotas y sin tarjeta de credito</h1>


    <ul>
      <li><a href=""> Ofertas</a> </li>
      <li><a href="">Tiendas oficiales</a></li>
      <li><a href="">Vender</a></li>
      <li><a href="">Ayuda </a></li>
    </ul>


    <ul>
      <li><a href="">Crea tu cuenta</a></li>
      <li><a href="">Ingresa</a></li>
      <li><a href="">Mis compras</a></li>
    </ul>
  </header>

  <main>
    <h1>Sección: Basado en tu última visita</h1>

    <img src="/public/images/img-cafetera-moulinex.jpg" width="200" height="200">
    <p>$6.770</p>
    <p>40% OFF</p>
    <h4>Cafetera Moulinex</h4>

    <img src="/public/images/img-macbook-pro-2019.jpg" width="200" height="200">
    <p>$230.000</p>
    <p>20% off</p>
    <h4>MacBook Pro 2019</h4>

    <img src="/public/images/img-samsung-galaxy-s10.jpg" width="200" height="200">
    <p>$70.500</p>
    <p>10% off</p>
    <h4>Samsung Galaxy S10</h4>

    <img src="/public/images/img-tv-samsung-smart.jpg" width="200" height="200">
    <p>$23.200</p>
    <p>5% off</p>
    <h4>SmartTv Samsung 43"</h4>

    <h1>Sección de Ofertas</h1>

    <img src="/public/images/img-cafetera-moulinex.jpg" width="200" height="200">
    <p>$6.770</p>
    <p>40% OFF</p>
    <h4>Cafetera Moulinex</h4>

    <img src="/public/images/img-macbook-pro-2019.jpg" width="200" height="200">
    <p>$230.000</p>
    <p>20% off</p>
    <h4>MacBook Pro 2019</h4>

    <img src="/public/images/img-samsung-galaxy-s10.jpg" width="200" height="200">
    <p>$70.500</p>
    <p>10% off</p>
    <h4>Samsung Galaxy S10</h4>

    <img src="/public/images/img-tv-samsung-smart.jpg" width="200" height="200">
    <p>$23.200</p>
    <p>5% off</p>
    <h4>SmartTv Samsung 43"</h4>

  </main>

  <footer>

    <h1>Pagá con tarjeta o en efectivo</h1>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
      puntos de pago. ¡Y siempre es seguro!</p>

    <h1>Envío gratis desde $ 2.500</h1>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
      productos. Es un beneficio de Mercado Puntos.</p>

    <h1>Seguridad, de principio a fin</h1>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
      porque estás siempre protegid@.</p>

    <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
  </footer>

</body>

</html>