<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/public/images/logo-mercado-liebre.svg" alt="">

        <h1>lugar para poner la barra de busqueda</h1>


        <h2>Comprá en cuotas y sin tarjeta de credito</h2>

       
        <ol>
            <li>Ofertas</li>
            <li>Tiendas oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
          </ol>
          
          <h1>asdasdsadsad</h1>
          <ol>
            <li>Crea tu cuenta</li>
            <li>Ingresa</li>
            <li>Mis compras</li>
          </ol>
    </header>

    <main>
        
    </main>
</body>
</html>